body {
    display: grid
}

header {
    background-color: #BD205C;
    padding-bottom: 10px;
    padding-top: 10px
}

/* applying gridbox to our main element */

main {
    background-color: #41F0B0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: stretch;
    justify-content: stretch
}

footer {
    background-color: #20a0bd;
}

.navbar {
    background-color: #5C818A;
    display: grid;
}

.page-content {
    width: 100%;
    height: 100%;
    padding-bottom: 500px
}


    

