
*{
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}



body {
    display: grid
}

.page-header-image {
  background-image: url(/header.png);
  padding-top: 300px;
}
/* applying gridbox to our main element */

main {
    background-color: #41F0B0;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

footer {
    background-color: #20a0bd;
    height: 20px
}

.navbar {
    background-color: #5C818A;
    display: grid;
    width: 150px;
    justify-items: center;
}


.page-content {
    width: 100%;
    height: 100%
}

.header {
  position: relative;
  text-align: center;
  color: white;
}
.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.container h1 {
  text-align: center;
}

#row1 {
  background-color:#36c08e
}

#row2 {
  background-color: #5dbd99;
}

#row3{
  background-color:#36c08e
}

img {
  height: 128px;
  width: 128px;
}